@tailwind base;

* {
	transition: background-color 0.3s ease;
	outline: none;
}

a {
	@apply text-sky-500 cursor-pointer font-semibold;
}

a:hover {
	text-decoration: underline;
}

a:visited {
	transition: color 0.3s ease;
	@apply text-violet-500;
}

@tailwind components;

@tailwind utilities;
