@import 'https://cdn.jsdelivr.net/npm/@xz/fonts@1/serve/cascadia-code.min.css';
@import 'https://fonts.googleapis.com/css2?family=Assistant:wght@700&display=swap';

@tailwind base;

* {
	transition: background-color 0.3s ease;
	outline: none;
	-webkit-tap-highlight-color: transparent;
	scroll-behavior: smooth;
}

a {
	@apply text-sky-500 cursor-pointer font-semibold;
}

a:hover {
	text-decoration: underline;
}

a:visited {
	transition: color 0.3s ease;
	@apply text-violet-500;
}

.editor-wrapper {
	@apply flex-1 flex overflow-hidden;
}

.preview.markdown-body {
	padding: 16px;
	overflow: auto;
}

.edit-view > .preview.markdown-body {
	@apply flex-1 rounded-l-lg border-4 border-r-0 dark:border-0;
}

.preview.markdown-body pre {
	direction: ltr;
}

.preview.markdown-body ul {
	padding-left: 0;
	padding-inline-start: 2em;
}

.preview.markdown-body ul li::marker {
	content: '·  ';
	font-size: 1rem;
	font-weight: 900;
	padding-left: 10px;
	position: absolute;
	width: 10px;
	height: 10px;
	background: #fff;
}

.preview.markdown-body ol {
	padding-left: 0;
	padding-inline-start: 2em;
}

.preview.markdown-body blockquote {
	border-right: 0.25em solid var(--color-border-default);
	border-radius: 0.25em;
	border-left: none;
}

.preview strong {
	font-weight: bold !important;
}

.cm-editor {
	outline: none !important;
	@apply flex-1 pr-3;
}

.cm-content {
	font-family: monospace, 'Segoe UI', sans-serif;
	padding: 0;
	margin-top: 2em;
}

/* stylelint-disable-next-line selector-class-pattern */
.cm-gutterElement {
	display: flex;
	align-items: center;
}

.glowing:hover {
	scale: 110%;
}

.glowing:hover > div {
	text-shadow: none;
}

.dark .glowing:hover {
	scale: 100%;
}

.dark .glowing:hover > * {
	text-shadow: 0 0 10px #fff;
	scale: 100%;
}

@tailwind components;

@tailwind utilities;
