@tailwind base;

* {
	transition: background-color 0.3s ease-in-out;
}

a {
	@apply text-sky-500 cursor-pointer;
}

a:hover {
	text-decoration: underline;
}

a:visited {
	@apply text-violet-500 cursor-pointer;
}

@tailwind components;

@tailwind utilities;
